@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap')

$dhca-green: #76D966
$dhca-green-hover: #72C065
$dhca-red: #F55B77


*
    margin: 0
    padding: 0
    font-family: 'Poppins', sans-serif

html, body
    background-color: #EFEFEF
    height: 100%
    width: 100%

    #app
        height: 100%
        width: 100%

// Bootstrap Overrides
.input-group
    .input-group-text
        background-color: $dhca-green
        color: white
        border-color: $dhca-green
        border-radius: 8px

.form-control
    border-color: $dhca-green
    border-radius: 8px
    background-color: #F4F5FA
    outline: none

.form-control:focus
    box-shadow: 0px 0px 5px $dhca-green
    border-color: $dhca-green

.btn
    border-radius: 3px
    border-color: $dhca-green

.btn.btn-primary
    background-color: $dhca-green

.btn.btn-outline-primary
    color: $dhca-green

.btn.btn-primary:hover, .btn.btn-outline-primary:hover
    background-color: $dhca-green-hover
    border-color: $dhca-green-hover 
    color: white

.toast.success
    border-color: $dhca-green

    .toast-header
        background-color: $dhca-green
        color: white

.toast.failed
    border-color: $dhca-red

    .toast-header
        background-color: $dhca-red
        color: white    

.dropdown-divider
    border-color: $dhca-green

.breadcrumb
    margin-bottom: 0px
    
    .breadcrumb-item a
        color: black
        text-decoration: none

    .breadcrumb-item + .breadcrumb-item::before
        color: black

.table 
    border-collapse: separate
    border-spacing: 0
    text-align: center

    thead tr td
        height: 50px
        line-height: 50px
        background-color: $dhca-green
        color: white

    thead tr:first-child td:first-child
        border-top-left-radius: 8px
        border-bottom-left-radius: 8px

    thead tr:last-child td:last-child
        border-top-right-radius: 8px
        border-bottom-right-radius: 8px

    tbody tr
        border-color: $dhca-green
        height: 40px
        line-height: 40px

.modal-header
    border-color: $dhca-green
    border-width: 3px

.modal-footer
    border-top: none


.swal2-title
    color: black !important
    border-bottom: 3px solid $dhca-green

// .swal2-styled
//     padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x) !important

// .swal2-confirm
//     border: var(--bs-btn-border-width) solid $dhca-green !important
// .swal2-cancel
//     background: unset !important
//     border: var(--bs-btn-border-width) solid $dhca-green !important

.swal2-html-container
    color: black !important

.swal2-actions
    width: 100% !important
    justify-content: end !important

.dhca-container
    background-color: #FFFFFF
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25)
    border-radius: 3px
    padding: 25px

.dhca-title-box
    width: 100%
    border-bottom: 3px solid $dhca-green

.bg-dhca
    background-color: $dhca-green